version: 2.1
orbs:
  node: circleci/node@5.0.2
  aws-cli: circleci/aws-cli@1.3.1
  eb: circleci/aws-elastic-beanstalk@2.0.1
jobs:
  # name of the job (build or deploy)
  build-and-deploy:
    docker: # excuter: env(docker,machine, windows)
      - image: "cimg/base:stable"
    steps:
      - node/install:
          node-version: 16.14.2
      - checkout
      - node/install-yarn:
          version: 1.22.18
      - aws-cli/setup
      - eb/setup
      - run:
          name: Install Udagram-Frontend
          command: |
            yarn udagram-frontend:install
      - run:
          name: Build Udagram-Frontend
          command: |
            yarn udagram-frontend:build
      - run:
          name: Deploy Udagram-Frontend
          command: |
            yarn udagram-frontend:deploy
      - run:
          name: Install Udagram-api
          command: |
            yarn udagram-api:install
      - run:
          name: Build Udagram-api
          command: |
            yarn udagram-api:build
      - run:
          name: Deploy Udagram-api
          command: |
            yarn udagram-api:deploy
  workflows:
    version: 2
    build-and-deploy:
        jobs:
          - build-and-deploy
              filters:
                branches:
                  only:
                    - master
          
